    <header>
        {{!-- <div class="banner"> </div> --}}

        <!-- Navigation Bar -->
        <div>
            <nav class="navbar">
                <!-- >>>Change Home with the logo -->
                <a href="/">
                    <img class="logo" src="./Images/logoLMN.png" alt="logo last minute notes">
                </a>
                <a class="menu-btn" href="/about">About</a>
                <a class="menu-btn" href="/studyMaterial">Study Material</a>
                <a class="menu-btn" href="/practice">Practice</a>
                <a class="menu-btn" href="/uploads">Uploads</a>
                <a class="menu-btn " href="/uploads">{{username}}</a>
                <a class="menu-btn flex-align-left" href="/register" id="register">Login/SignUp</a>
            </nav>

        </div>
        <div class="banner"> </div>

    </header>